.DS_Store
node_modules/
platforms/
divers-tale/app**/*.android.css
divers-tale/app**/*.ios.css
divers-tale/app**/*.js

!divers-tale/app/events**/*.js
!divers-tale/app/divebuddies**/*.js
!divers-tale/app/invitations**/*.js

.vscode/