.page-profile-information {
    margin-top: 0;
    padding-top: 0;

    Label, TextField {
        margin: 10;
    }
    TextField {
        margin-top: 3;
    }
}

.fab-button {
    height: 70;
    width: 70; /// this is required on iOS - Android does not require width so you might need to adjust styles 
    margin: 15;
    horizontal-align: right; 
    vertical-align: bottom; 
}