Page {
  background-color: white;
  font-size: 22;
}

Label {
  margin: 10;
  horizontal-align: left;
  vertical-align: center;
}

Button {
  background-color: #326ee5;
  color: #ffffff;
}

.font-awesome {
  font-family: "FontAwesome";
  padding-bottom: 5px;
}